:root {
  --padding: 15px;

  --color-text: #3f4142;
  --color-text-light: #f2f2f2;
  --color-border: #dfd3d3;
  --color-bg: #f2f2f2;
  --color-select: #ccc;
  --color-accent: #2b444f;
  --color-success: #495a48;
}
