.body-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .body-header {
    flex-shrink: 0;
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-border);
  }

  .body-main {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    flex-grow: 1;
    overflow: auto;
  }
}
